@model IEnumerable<pbl1.Models.Furniture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="borber">
    <label for="search" class="border">
        <input type="text" id="search" class="border border-0">
        <i class="bi bi-search"></i>
    </label>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusFurniture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.User.Name == "Gildson"){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <img class="image_table" src="@Html.DisplayFor(modelItem => item.Photo)" alt="">
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusFurniture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FurnitureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FurnitureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FurnitureId">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
